* {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    font-family: monospace;
    font-size: 14px;
    max-width: 480px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}

button {
    float: right;
}

#error {
    color: red;
}

.label,
.submit {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 0;
    -webkit-appearance: none;
}

.submit {
    background-color: lightblue;
    /**
     * If the input field has a border,
     * you need it here too to achieve equal heights.
     */
    border: 1px solid transparent;
}
