<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!DOCTYPE html>
    <meta charset="utf-8" />
    <title>Shurly the URL shortener</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script language="JavaScript" src="shurly.js"></script>
</head>
<body>
<h2>Shurly</h2>
<form action="/" method="post">
    #if($URL)
        #set ($placeHolder = $URL)
    #else
        #set ($placeHolder = "Enter the URL")
    #end
    <input type="text"   name="the_url" id="the_url" placeholder="$placeHolder"/>
    <input type="submit" onClick="return document.getElementById('the_url').value != '';"
                         value="Shorten"/>
</form>
    #if ($ERROR)
    <div id="error">
        $ERROR
    </div>

    #else
        <div id="output">
            #if($URL)
                $URL shortened to
                <br />
                <a href="$HOME/$ENC"><span id="url_label" class="label">$HOME/$ENC</span></a>
                <span id="copy_notice"><button onclick="copyURL();" class="submit">Copy text</button></span>
            #end
        </div>
    #end



</body>
</html>